/ {
	chosen {
		zephyr,usbd = &usbd;
	};

	hid_dev_0: hid_dev_0 {
		compatible = "zephyr,hid-device";
		label = "HID0";
		protocol-code = "none";
		in-polling-period-us = <1000>;
		in-report-size = <64>;
	};

	gpio_keys {
		compatible = "gpio-keys";

		button0: button_0 {
			label = "Mod button";
			gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};
		button1: button_1 {
			label = "Mode Button";
			gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_1>;
		};
	};
};

&usbd {
	status = "okay";
};

&i2c0 {
	status = "okay";
	
	as5600@36 {
		compatible = "ams,as5600";
		reg = <0x36>;
	};
};
